<div id="preloader">
            <div class="loader-wrapper">
                <div class="loader-box">
                    <div class="icon">
                        <!-- <i class="fas fa-utensils"></i> -->
                        <img src="/images/logo/logo.png">
                    </div>
                </div>
            </div>
        </div>