<div id="preloader">
            <div class="loader-wrapper">
                <div class="loader-box">
                    <div class="icon">
                        <!-- <i class="fas fa-utensils"></i> -->
                        <img src="https://bsrfsolar.com/assets/img/logo/logo-rgb.png">
                    </div>
                </div>
            </div>
        </div>